.home {
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  z-index: 0;
}
.home .carousel {
  position: relative !important;
  width: 100%;
  height: 60vh;
  z-index: 1;
}
.home .carousel .carousel-inner {
  height: 60vh;
}
.home .carousel .carousel-inner .carousel-item {
  height: 60vh;
}

.home .carousel .carousel-inner .carousel-item img {
  height: 100%;
  overflow: hidden;
  background-size: cover;
}
.home .carousel .carousel-indicators {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  z-index: 5;
}
.home .carousel .carousel-indicators button{
  height: 0.3rem;
}
.home .carousel .carousel-control-prev span{
  width: 5rem;
  height: 3rem;
}

.home .carousel .carousel-control-next span{
  width: 5rem;
  height: 3rem;
}

.home .container {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  background: #f9f9f9;
}

.home .container .row {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  padding: 1rem 0;
}
.home .container .row .col {
  justify-content: center;
  align-items: center;
}

.home .container .row .col .content {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.home .container .row .col .content .home_icon {
  padding: 0.3rem;
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  color: #684f40;
  text-align: center;
}
.home .container .row .col .content .home_icon svg{
  font-size: 4rem;
}

.home .container .row .col .content .pragraph {
  width: 70%;
  margin-left: 0.5rem;
  vertical-align: middle;
}

.home .container .row .col .content .pragraph h3 {
  font-size: 1.2rem;
  color: #fdb925;
  font-family: "Montserrat";
  vertical-align: middle;
}

.home .container .row .col .content .pragraph p {
  font-size: 0.9rem;
  font-family: "Montserrat";
  vertical-align: middle;
}

/*Container 2*/
.home .container2 {
  top: 80vh;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  background: #fff;
  text-align: center;
}
.home .container2 .row{
  width: 80%;
  margin: 0 auto ;
  padding: 0;
}
.home .container2 .row .service h3 {
  font-size: 1.2rem;
  font-family: "Montserrat";
  margin-top: 1rem;
  color: #684f40;
  font-weight: bolder;
}
.home .container2 .row .service p {
  font-size: 0.95rem;
  font-family: "Open sans";
  color: #696969;
  margin-bottom: 0;
}
.home .container2 .row .col {
  padding: 0.5rem;
  border-radius: 5px;
}
.home .container2 .row .col .content {
  display: block;
  margin: 1rem auto;
  text-align: center;
  width: 90%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 2px;
  padding: 1rem;
}
.home .container2 .row .col .content .home_icon2 {
  padding: 0.3rem;
  font-size: 3rem;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  border: 2px solid #684f40;
  margin: 0 auto;
  color: #684f40;
}
.home .container2 .row .col .content .home_icon2:hover {
  color: #fdb925;
  border:2px solid #fdb925;
}

.home .container2 .row .col .content .pragraph {
  width: 100%;
  padding-top: 1rem;
  margin: 0 auto;
}

.home .container2 .row .col .content .pragraph h3 {
  font-size: 1rem;
    color: #fdb822;
    font-family: "Montserrat";
    font-weight: bold;
}
.home .container2 .row .col .content .pragraph p {
  font-size: 0.85rem;
  font-family: "Open sans";
  color: #696969;
}
/*Container 3*/

.home .container3 {
  top: 80vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  background: #fff;
}
.home .container3 .row .productlist h3 {
  font-size: 1.2rem;
  font-family: "Montserrat";
  margin-top: 2rem;
  color: #684f40;
  font-weight: bolder;
}
.home .container3 .row .productlist p {
  font-size: 0.95rem;
  font-family: "Open sans";
  margin-top: 1rem;
  color: #696969;
}
.home .container3 .row .col {
  padding: 0 0.5rem;
  border-radius: 5px;
  margin: 1rem 0;
}
.home .container3 .row{
  width: 80%;
  margin: 0 auto;
  padding:0;
}

.home .container3 .row .col .product_list {
  padding-bottom: 1rem;
  position: relative;
}
.home .container3 .row .col .product_list .card {
  margin: 0 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: none;
}
.home .container3 .row .col .product_list .card .card-body {
  padding: 0;
}
.home .container3 .row .col .product_list .card .card-body .card-title {
  color: #684f40;
  font-size: 0.9rem;
  padding-top: 1rem;
  font-family: "Montserrat";
  font-weight: bold;
  text-transform: uppercase;
}
.home .container3 .row .col .product_list .card .card-body .card-text {
  font-size: 0.9rem;
  padding:1rem 0;
  font-family: "Montserrat";
}
.home .container3 .row .col .product_list .card .card-body .price {
  color: #fdb925;
  font-size: 1rem;
  font-family: "Montserrat";
  font-weight: bold;
  padding-bottom: 0.5rem;
}
.home .container3 .row .col .product_list .card .shopping {
  box-decoration-break: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  position: absolute;
  top: 0%;
  display: none;
  background: #ffffff94;
  height: 70%;
}
.home .container3 .row .col .product_list:hover .card .shopping {
  display: block;
  display: flex;
  transition: 1s;
}
.home .container3 .row .col .product_list:hover .card .card-img-top {
  background: #fff;
  backdrop-filter: opacity(100%);
}
.home .container3 .row .col .product_list .shopping .icon {
  text-align: center;
  margin: 0 0.3rem;
  font-weight: bolder;
  text-align: center;
}
.home .container3 .row .col .product_list .shopping .icon button {
  color: #fff;
  text-align: center;
  background: #fdb925;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  border: none;
  font-size: 1.5rem;
}
.home .container3 .row .col .product_list .shopping .icon button a {
  color: #fff;
}
.home .container3 .row .col .product_list .shopping .icon button svg {
  -webkit-font-smoothing: antialiased;
  margin-bottom: 15%;
}
.home .container3 .row .col .product_list .shopping .icon .btn svg {
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 14%;
}
.home .container3 .row .col .product_list .shopping .icon button:hover {
  background: #684f40;
}

#popup-root .popup-overlay {
  background: #3c3c3c88;
  display: flex;
  flex-wrap: nowrap;
  position: fixed;
}
#popup-root .popup-overlay .popup-content button {
  background: #b3b1b188;
  width: 3rem;
  height: 3rem;
  border: none;
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
}
#popup-root .popup-overlay .popup-content img {
  width: 20rem;
}
.home .feedback {
  width: 100%;
  height: 30vh;
  z-index: 1;
}
.home .feedback .carousel {
  position: relative !important;
  width: 100%;
  height: 30vh;
  z-index: 1;
  background: linear-gradient(75deg,#484A44, #6c6e67);
}
.home .feedback .carousel .carousel-inner {
  height: 30vh;
}
.home .feedback .carousel .carousel-inner .carousel-item {
  height: 30vh;
}
.home .feedback .carousel .carousel-inner .carousel-item .carousel-caption {
  top: 5%;
  position: relative;
  width: 100%;
  left: 0;
  padding: 1rem 0.3rem !important;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}
.home .feedback .carousel .carousel-inner .carousel-item .carousel-caption .text{
  font-family: "Montserrat", sans-serif;
  top: 0;
  position: relative;
  width: 100%;
  left: 0;
  vertical-align:middle;
}
.home .feedback .carousel .carousel-inner .carousel-item .carousel-caption .text .title h3{
  color: #fdb925;
  font-size: 1.2rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
.home .feedback .carousel .carousel-inner .carousel-item .carousel-caption .text .content p{
  color: #fff;
  font-size: 0.8rem;
  justify-content: center;
  align-items: center;
}
.home .feedback .carousel .carousel-inner .carousel-item .carousel-caption .text .content h4{
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}
.home .feedback .carousel .carousel-inner .carousel-item .carousel-caption .text .content h5{
  color: #fdb925;
  font-size: 0.85rem;
  justify-content: center;
  align-items: center;
}
.home .feedback .carousel .carousel-inner .carousel-item img {
  height: 100%;
  overflow: hidden;
  background-size: cover;
}
.home .feedback .carousel .carousel-indicators {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  z-index: 5;
}
.home .feedback .carousel .carousel-indicators button{
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  
}
.home .feedback .carousel .carousel-control-prev{
  display: none;
}

.home .feedback .carousel .carousel-control-next{
  display: none;
}
@media screen and (min-width: 320px) and (max-width: 1800px) {
  .container,
  .container .row,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 100% !important;
  }
}
@media screen and (min-width: 320px) and (max-width: 557px) {
  .home .feedback {
    height: 35vh;
  }
  .home .feedback .carousel {
    height: 35vh;
  }
  .home .feedback .carousel .carousel-inner {
    height: 35vh;
  }
  .home .feedback .carousel .carousel-inner .carousel-item {
    height: 35vh;
  }
  .home .feedback .carousel .carousel-inner .carousel-item .carousel-caption .text .title h3{
    font-size: 0.9rem;
  }
  .home .feedback .carousel .carousel-inner .carousel-item .carousel-caption .text .content p{
    font-size: 0.7rem;
  }
  .home .feedback .carousel .carousel-inner .carousel-item .carousel-caption .text .content h4{
    font-size: 0.8rem;
  }
  .home .feedback .carousel .carousel-inner .carousel-item .carousel-caption .text .content h5{
    font-size: 0.75rem;
  }
  .home .carousel {
    height: 25vh;
  }
  .home .carousel .carousel-inner {
    height: 25vh;
  }
  .home .carousel .carousel-inner .carousel-item {
    height: 25vh;
  }
  .home .container .row .col .content .pragraph h3 {
    font-size: 1rem;
  }
  .home .container .row .col .content .pragraph p {
    font-size: 0.8rem;
  }
  .home .container .row .col .content .home_icon svg{
    font-size: 3rem;
  }
  .home .container2 .row .service h3 {
    font-size: 0.9rem;
  }
  .home .container2 .row .service p {
    font-size: 0.8rem;
  }
  .home .container3 .row .productlist h3 {
    font-size: 0.9rem;
    padding: 0 1rem;
  }
  .home .container3 .row .productlist p {
    font-size: 0.8rem;
    padding:0 1rem;
  }
  .home .carousel .carousel-control-prev span{
    width: 3rem;
    height: 2rem;
  }
  
  .home .carousel .carousel-control-next span{
    width: 3rem;
    height: 2rem;
  }
  .home .carousel .carousel-indicators button{
    height: 0.1rem;
  }
}
@media screen and (min-width: 558px) and (max-width: 767px) {
  .home .feedback {
    height: 30vh;
  }
  .home .feedback .carousel  {
    height: 30vh;
  }
  .home .feedback .carousel .carousel-inner {
    height: 30vh;
  }
  .home .feedback .carousel .carousel-inner .carousel-item {
    height: 30vh;
  }
  .home .feedback .carousel .carousel-inner .carousel-item .carousel-caption .text .title h3{
    font-size: 0.9rem;
  }
  .home .feedback .carousel .carousel-inner .carousel-item .carousel-caption .text .content p{
    font-size: 0.7rem;
  }
  .home .feedback .carousel .carousel-inner .carousel-item .carousel-caption .text .content h4{
    font-size: 0.8rem;
  }
  .home .feedback .carousel .carousel-inner .carousel-item .carousel-caption .text .content h5{
    font-size: 0.75rem;
  }
  .home .carousel {
    height: 35vh;
  }
  .home .carousel .carousel-inner {
    height: 35vh;
  }
  .home .carousel .carousel-inner .carousel-item {
    height: 35vh;
  }
  .home .carousel .carousel-control-prev span{
    width: 3rem;
    height: 2.5rem;
  }
  
  .home .carousel .carousel-control-next span{
    width: 3rem;
    height: 2.5rem;
  }
  .home .carousel .carousel-indicators button{
    height: 0.2rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .home .feedback {
    height: 35vh;
    
  }
  .home .feedback .carousel {
    height: 35vh;
  }
  .home .feedback .carousel .carousel-inner {
    height: 35vh;
  }
  .home .feedback .carousel .carousel-inner .carousel-item {
    height: 35vh;
  }
}