.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  text-align: center;
  height: 40vh !important;
  background: linear-gradient(75deg, #484a44, #6c6e67) !important;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  padding-top: 1rem !important;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

.slick-slide > div {
  height: 100%;
}

.slick-slide.slick-active {
  display: block;
}

.slick-arrow {
  /* position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer; */
  display: none !important;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.slick-arrow:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
}

.slick-prev:before {
  border-width: 10px 12px 10px 0;
  border-color: transparent #ccc transparent transparent;
  margin-left: 2px;
}

.slick-next:before {
  border-width: 10px 0 10px 12px;
  border-color: transparent transparent transparent #ccc;
  margin-right: 2px;
}

.slick-dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background: #fff;
  overflow: hidden;
  text-indent: -999px;
  cursor: pointer;
}

.slick-dots li.slick-active button {
  background: #ccc;
}
.feedback h3 {
  color: #fdb925 !important;
  font-size: 1.2rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
}
.feedback p {
  color: #fff;
  font-size: 0.8rem;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  padding: 0 1rem;
}
.feedback h4 {
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
}
.feedback h5 {
  color: #fdb925;
  font-size: 0.85rem;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
}
@media screen and (min-width: 320px) and (max-width: 557px) {
  .feedback h3 {
    font-size: 0.9rem;
  }
  .feedback p {
    font-size: 0.7rem;
  }
  .feedback h4 {
    font-size: 0.8rem;
  }
  .feedback h5 {
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 558px) and (max-width: 767px) {
  .feedback h3 {
    font-size: 0.9rem;
  }
  .feedback p {
    font-size: 0.7rem;
  }
  .feedback h4 {
    font-size: 0.8rem;
  }
  .feedback h5 {
    font-size: 0.75rem;
  }
}
